*.gem
.bundle
Gemfile.lock
pkg/
tmp/
.hecks_version
examples/pizzas/pizzas_domain/
examples/rails_app/pizzas_domain/
examples/rails_app/db/*.sqlite3
examples/rails_app/db/*.sqlite3-*
examples/rails_app/log/
examples/rails_app/tmp/
examples/rails_app/storage/
db/migrate/*_hecks_migration.sql
HECKS_README.md
