*.gem
.bundle
Gemfile.lock
pkg/
tmp/
.hecks_version
examples/pizzas/pizzas_domain/
examples/pizzas/event_storm_domain.rb
examples/rails_app/pizzas_domain/
examples/rails_app/db/*.sqlite3
examples/rails_app/db/*.sqlite3-*
examples/rails_app/db/schema.rb
examples/rails_app/db/seeds.rb
examples/rails_app/log/
examples/rails_app/tmp/
examples/rails_app/storage/
examples/rails_app/bin/
examples/rails_app/public/
examples/rails_app/vendor/
examples/rails_app/lib/tasks/
examples/rails_app/lib/assets/
examples/rails_app/.github/
examples/rails_app/.rubocop.yml
examples/rails_app/.ruby-version
db/migrate/*_hecks_migration.sql
HECKS_README.md
