--format documentation
--color
-I hecks_spec
-I hecks_watchers/lib
--require spec_helper
--pattern {hecksties,hecks_model,hecks_domain,hecks_runtime,hecks_workbench,hecks_cli,hecks_persist,hecks_watchers,hecks_spec}/spec/**/*_spec.rb
