--format documentation
--color
--order random
-I hecks_on_rails/spec
-I hecksties
-I hecksties/watchers/lib
-I hecks_targets/go/lib
--require spec_helper
-I hecks_targets/node/lib
--pattern {hecksties,hecksties/watchers,bluebook,hecksagon,hecks_workshop,hecks_ai,hecks_on_rails,hecks_targets/go,hecks_targets/node}/spec/**/*_spec.rb
--tag ~parity
--tag ~slow
