<%= turbo_stream.replace "order_#{@order_id}" do %>
  <tr id="order_<%= @order_id %>">
    <td colspan="4"><span class="status-cancelled">cancelled</span></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
